examples/example.json
[
    {
        "id": "cf2a987598e187f0",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "af5b0be5cb3ac3f3",
        "type": "sftp",
        "host": "sftp.havilog.com",
        "port": "22",
        "tryKeyboard": false,
        "key": "",
        "keyname": "",
        "algorithms_kex": "ecdh-sha2-nistp256,ecdh-sha2-nistp384,ecdh-sha2-nistp521,diffie-hellman-group-exchange-sha256,diffie-hellman-group14-sha1",
        "algorithms_cipher": "aes128-ctr,aes192-ctr,aes256-ctr,aes128-gcm,aes128-gcm@openssh.com,aes256-gcm,aes256-gcm@openssh.com",
        "algorithms_serverHostKey": "ssh-rsa,ecdsa-sha2-nistp256,ecdsa-sha2-nistp384,ecdsa-sha2-nistp521",
        "algorithms_hmac": "hmac-sha2-256,hmac-sha2-512,hmac-sha1",
        "algorithms_compress": "none,zlib@openssh.com,zlib"
    },
    {
        "id": "f7601256745fc717",
        "type": "apiPaypal",
        "z": "cf2a987598e187f0",
        "name": "",
        "resourceName": "Disputes",
        "resource": "Appeal dispute",
        "queryParams": "queryParams",
        "bodyParams": "bodyParams",
        "bodyParamsType": "msg",
        "formParams": "",
        "filename": "",
        "filenameType": "msg",
        "tracker_id": "",
        "product_id": "",
        "dispute_id": "<dispute_id>",
        "dispute_idType": "str",
        "invoice_id": "",
        "transaction_id": "",
        "template_id": "",
        "order_id": "",
        "partner_referral_id": "",
        "profile_id": "",
        "authorization_id": "",
        "capture_id": "",
        "refund_id": "",
        "payout_batch_id": "",
        "payout_item_id": "",
        "payouts_batch_id": "",
        "payouts_item_id": "",
        "plan_id": "",
        "subscription_id": "",
        "webhook_id": "",
        "event_id": "",
        "x": 850,
        "y": 100,
        "wires": [
            [
                "b954c9db216e4762"
            ]
        ]
    },
    {
        "id": "9396e8d693f00387",
        "type": "authenticatePaypal",
        "z": "cf2a987598e187f0",
        "name": "",
        "x": 390,
        "y": 100,
        "wires": [
            [
                "f030f8bc9c10902a"
            ]
        ]
    },
    {
        "id": "b954c9db216e4762",
        "type": "debug",
        "z": "cf2a987598e187f0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 100,
        "wires": []
    },
    {
        "id": "f07b7a57bf7ad0ac",
        "type": "inject",
        "z": "cf2a987598e187f0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 100,
        "wires": [
            [
                "9396e8d693f00387"
            ]
        ]
    },
    {
        "id": "f030f8bc9c10902a",
        "type": "function",
        "z": "cf2a987598e187f0",
        "name": "Set PayPal params",
        "func": "// msg.id = 'PP-D-27803'\n\nmsg.bodyParams = {\n  \"evidences\": [\n    {\n      \"evidence_type\": \"PROOF_OF_FULFILLMENT\",\n      \"evidence_info\": {\n        \"tracking_info\": [\n          {\n            \"carrier_name\": \"FEDEX\",\n            \"tracking_number\": \"122533485\"\n          }\n        ]\n      },\n      \"notes\": \"Test\"\n    }\n  ]\n};\n\nmsg.queryParams = {\n    page_size: 10,\n    page: 1,\n    total_required: true\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 100,
        "wires": [
            [
                "f7601256745fc717"
            ]
        ]
    }
]